.films {
  padding-top: 5px;
}
.film-item {
  display: inline-block;
  width: 30.33%;
  margin: 0 0 0 10px;
  padding: 0 10px;
}
.film-item__link {
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.film-item__img {
  width: 300px;
  height: auto;
}
.film-item__descr {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.year {
  margin-top: -15px;
  font-size: 20px;
}